.banner {
  text-align: center;
  height: 450px;
}

.banner-box {
  position: absolute;
  top: 40%;
  left: 5%;
  color: azure;
  text-align: center;
}
.banner-box h5,
h2 {
  padding-left: 50px;
  font-weight: 700;
}

.banner-box h5 {
  font-size: 14px;
  margin-bottom: 10px;
}

.banner-box h2 {
  font-size: 30px;
  margin-bottom: 70px;
}

.banner-box p {
  padding: auto;
  font-size: 14px;
  text-align: center;
  line-height: 2em;
}

.list {
  text-align: center;
}

.list > ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list > ul > li {
  width: 32%;
  font-size: 14px;
  font-weight: 700;
}

.list li img {
  border-bottom: 3px solid #fff;
  transition: all 0.3s;
  margin-bottom: 10px;
}

.list li img:hover {
  border-bottom: 3px solid #000;
  margin-bottom: 10px;
}

.list ul li > div p {
  line-height: 2.3;
}

.list ul .cart {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
  border-bottom: 3px solid #ddd;
  padding-bottom: 5px;
}
.list ul .cart:hover {
  border-bottom: 3px solid #333;
}
.undimg img {
  padding-top: 50px;
}
