* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
#sbox {
  border: none;
  border-bottom: 1px solid #767676;
}
#footer {
  opacity: 1;
  background-color: black;
}
/* .logo{display: contents;} */
.row {
  max-width: 1200px;
  margin: 0 auto;
}
.end_link {
  text-align: right;
}
.buttons {
  display: none;
}
.footer_main .logo {
  text-align: center;
  padding: 100px 0;
  color: #fff;
}
#footer .container_row {
  border-bottom: 1px solid #767676;
}
#footer .container .depth1 {
  display: flex;
  justify-content: space-between;
}
#footer .container .depth1 > li {
  flex: 1;
  cursor: pointer; /* color: #9b9b9b; */
  font-size: 14px;
  padding-bottom: 5%;
}
#footer .container .depth1 > li:nth-child(2) {
  flex: 2;
}
#footer .container .depth1 .link-list {
  margin: 30px 0;
  color: #d8d8d8;
}
#footer .container .depth1 .link-list > li {
  margin: 20px 0;
  color: #9b9b9b;
}
#footer .container_row .depth1 > li > span {
  font-size: 15px;
  font-weight: 700;
  margin: 0px 0px 18px;
  color: #fff;
}
#footer .footer_language {
  display: flex;
  float: left;
}
#footer .footer_language .language-label {
  color: #767676;
  font-size: 12px;
  padding-right: 10px;
  padding-top: 15px;
}
#footer .footer_language .lang {
  color: #fff;
  font-size: 12px;
  padding: 0px 30px 0px 0px;
}
#footer .footer_language .lang > button {
  border: none;
  background: #000;
  color: #fff;
  padding-top: 15px;
}
#footer .square {
  font-size: 12px;
  color: #fff;
  padding-bottom: 15px;
}
#footer .square > button {
  font-size: 15px;
  border: none;
  padding-left: 20px;
  border: 1px solid #fff;
}
#mainfooter {
  height: 500px;
}

#mainfooter .subfooter .depth2 {
  margin: 150px auto 90px;
}
#mainfooter .subfooter .depth2 a {
  text-decoration: underline;
  color: #333333;
}
#mainfooter .subfooter .depth2 li {
  color: #767676;
  text-align: left;
  line-height: 1.6rem;
  font-size: 14px;
}
#mainfooter .subfooter .depth2 li:first-child {
  width: 280px;
}
#mainfooter .subfooter .depth2 span {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 0px 9px;
}
.footer_row .language {
  display: flex;
  justify-content: space-between;
}
#footer .end_link .link > a {
  font-size: 14px;
  padding-right: 20px;
  margin-top: 10px;
  display: inline-block;
}
#mainfooter .subfooter .depth2 {
  display: flex;
  justify-content: left;
}
#mainfooter .subfooter .depth2 .depth2-list {
  padding-top: 10px;

  margin-right: 50px;
}
#mainfooter .subfoot {
  height: 144px;
  color: #767676;
  font-size: 14px;
  padding-top: 40px;
}
#mainfooter .subfoot a {
  text-decoration: underline;
  color: #767676;
  font-weight: 500;
}
#mainfooter .subfooter .depth2 .depth3-list {
  padding-top: 10px;
  box-sizing: border-box;
}
#mainfooter .subfooter .depth2 .depth3-list .search {
  padding-top: 50px;
}
#mainfooter .subfooter .depth2 .depth3-list .search input {
  width: 75%;
  height: 40px;
  outline: none;
}
#mainfooter .subfoot div {
  text-align: left;
  line-height: 1.6rem;
  font-size: 12px;
}
#sbox:hover {
  border: none;
  border-bottom: 2px solid black;
}
